doctype html
html
	head
		title Upraised
	body
		h1 Assigment base
		br 
		h2 Hello World
		a( href= "search_active_jobs") Search active jobs
		br 
		a( href= "search_using_skillset") Search Jobs based on Title/Skill