html
	head
		title JOb Results
	body
		h1 Following are the number of available active jobs by Data, Title and Company
		br
		h3 #{jobs}
		br
		br
		h1 Following are the number of available active jobs by Skill
		h3 #{counter}
